<%= provide(:title,"Ideas") %>
<h1>Welcome to <span class="logo_text"> MeTots </span></h1>

<% if current_user %>
	
<% else %>
	<div> description and pictures go here </div>
	<div>
		<h2>SignUp</h2>
		<%= button_to "Click Here to Sign Up", signup_path, :class => "btn btn-info" %>
	</div>
<% end %>