<% provide(:title, "Home") %>
<h1>Welcome to <span class="logo_text"> My Tots </span></h1>

  statistics go here
<% if current_user %>
<% else %>
	<%= render "carousel" %>
	<div class="">
		<div class=" clearfix">
			<div class="span12">
				<p>
					Have you ever wanted to carry a small note book or use simple 
					project manamgement app to keep track of all the things you do?
				</p>
				<p>
					<span class="logo_text"> My Tots </span>  is your answer. Hurry, 
					<span class="logo_text"> sign up </span> and Give it a try
					<%= button_to "Sign Up for Free", signup_path, :class => "btn btn-success btn-large" %>
				</p>
			</div>
		</div>
	</div>
<% end %>
