<div>
	<form class="form-vertical" ng-submit="submit()">
		<label> Content </label>
		<textarea ng-model="note.content"></textarea>
		<input type="hidden" ng-model="note.project_id">
		<input type="submit" value="{{ buttonText }} Note" class="btn btn-success" >
		<input type="button" value="Cancel" class="btn" ng-click="clear()">
		<div class="ax-loader" visible="isSaving" text="Saving Note ...."></div>
	</form>
</div>