<p>
	Hello  <%= @user.name %>, Welcome to My Tots
</p>
	
<p>
	Thanks for siging up! We are Excited to have you here.
</p>

<p>	
	Your login is <%= @user.email %>. Quickly start creating your creative project ideas. Remember every idea or project no matter how small is important
</p>


