<h2 class="clearfix"> {{ tasks.length }} Tasks <span class="pull-right"> {{ data.project.title }}</span>	</h2>
<div class="row">
	<div class="list_container">
		<div class="span4">
			<span class="badge badge-important">Pending {{ pendingTasks.length }}</span>
			<br><br>
			<div class="pending task_list">
				<div class="list_area">
					<div ng-repeat="task in pendingTasks">
						<div class="task_row">
							<span class="ax-loader" visible="task.id == current_task_id"></span>{{ task.content }}
							<div class='clearfix'>
								<span class="pull-right times"> 
									<em> <b> {{ task.created_at | date:'short' }} - {{ task.updated_at  | date:'short' }} </b> </em> 
								</span>
							</div>
							<div class="clearfix">
								<button class='btn btn-mini btn-success pull-right' ng-click="updateTask(task, 'started')">  
									<i class="icon-white icon-chevron-right"></i> 
								</button>	
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
		<div class="span4">
			<span class="badge badge-warning">Started {{ startedTasks.length }} </span>
			<br><br>
			<div class="started task_list">
				<div class="list_area">
					<div ng-repeat="task in startedTasks">
						<div class="task_row">
							<span class="ax-loader" visible="task.id == current_task_id"></span>{{ task.content }}
							<div class='clearfix'>
								<span class="pull-right times"> 
									<em> <b> {{ task.created_at  | date:'short' }} - {{ task.updated_at | date:'short' }} </b> </em> 
								</span>
							</div>
							<div class="clearfix">
								<button class='btn btn-mini btn-danger' ng-click="updateTask(task, 'pending')"> 
									<i class="icon-white icon-chevron-left"></i> 
								</button>
								<button class='btn btn-mini btn-success pull-right' ng-click="updateTask(task, 'completed')">  
									<i class="icon-white icon-chevron-right"></i> 
								</button>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<span class="badge badge-success">Completed {{ completedTasks.length }} </span>
			<br><br>
			<div class="completed task_list">
				<div class="list_area">
					<div ng-repeat="task in completedTasks">
						<div class="task_row">
							<span class="ax-loader" visible="task.id == current_task_id"></span>{{ task.content }}
							<div class='clearfix'>
								<span class="pull-right times"> 
									<em> <b> {{ task.created_at | date:'short' }} - {{ task.updated_at | date:'short' }} </b> </em> 
								</span>
							</div>
							<div class="clearfix">
								<button class='btn btn-mini btn-danger' ng-click="updateTask(task, 'started')"> 
									<i class="icon-white icon-chevron-left"></i> 
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>