<h2>My Projects
<% if not @projects.empty? %>
<div class="pull-right"> 
	<span class="badge badge-success"> <%= @projects.count %> </span> Ideas 
</div>
</h2>
<br>
<div id="projects_container">
	<div class="project header"> 
		<div class="box action"> 
			<span>#</span>
		</div>
		<div class="box content">
			Project Definition
		</div>
		<div class="notes_count">
			# Notes 
		</div>
		
	</div>

	<%= render @projects %>
</div>
<% else %>
	<!-- nothing -->
<% end %>