<h2>My Projects
<div class="pull-right"> 
	 {{ projects.length }} Projects 
</div>
</h2>
<br>
<div id="projects_container">
	<div class="project header"> 
		<div class="box action"> 
			<span>#</span>
		</div>
		<div class="box content">
			Project Definition
		</div>
		<div class="notes_count">
			Summary 
		</div>
	</div>
	<div class="project" ng-repeat="project in projects"> 
		<div class="box action"> 
			{{ $index + 1 }}.
		</div>
		<div class="box content">
			<div class="title inner">
				<a href="#/{{project.id}}/edit" ng-click="editProject(project)"> {{ project.title }} </a>
			</div>
			<div class="description inner">
				{{ project.description }}
			</div>
			<div> 
				<span class="label label-inverse">category</span> 
				<i class="label label-important">  {{ project.project_category.name }} </i>
			</div>
		</div>
		<div class="notes_count">
			<span class="summary_box">
				<a href="" ng-click="viewNotes(project)"> {{ project.notes.length }} Notes </a>
			</span>
			<span class="summary_box">
				<a href="" ng-click="viewTasks(project)"> {{ project.tasks.length }} Tasks </a>
			</span>
		</div>
	</div>
</div>
