<div>
	<form class="form-vertical" ng-submit="submit()">
		<div class="control-group">
			<label class="control-label"> Title </label>
			<div class="controls">
				<input type="text" ng-model="project.title">	
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"> Description </label>
			<div class="controls">
				<textarea cols="40" rows="7" ng-model="project.description"></textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"> Project Category </label>
			<div class="controls">
				<select 
					class=""
					ng-options="cat.id as cat.name for cat in userProjectsCategories"
					ng-model="project.project_category_id">
				</select>
			</div>
		</div>
		<input type="submit" value="{{ buttonText }} Project" class="btn btn-success" >
		<input type="button" value="Cancel" class="btn" ng-click="clear()">
		<div class="ax-loader" visible="isSaving" text="Saving Project ...."></div>
	</form>
</div>