<div>
	<div class="pull-left">
		<div id="the_project_form">
			<legend>New Project Idea</legend>
			<%= render "project_form" %>
		</div>
	</div>
	<div class="pull-right" id="wrapper">
		<%= render 'list' %>
	</div>
</div>

