<h2>Notes: <%= @project.title %>
	<span class="pull-right note_tasks_back_link">
		<%= link_to "Tasks", project_tasks_path(@project) %>
	</span>
</h2>
<div class="row">
	<tabs>
		<pane title="Notes">
			<div ng-controller="NotesController">
				<div class="span4" >
				<div id="note_form">
					<legend> {{ formTitle }} note</legend>
					<%= render "notes/note_form" %>
				</div>
			</div>
			<div class="span8">
				<%= render "notes/list" %>
			</div>
			</div>
		</pane>
		<pane title="Tasks">
			<div>

			</div>
		</pane>
	</tabs>
</div>

