<div>
	<div class="pull-left">
		<div id="the_project_form">
			<legend>Add Project Category</legend>
			<%= render "project_category_form" %>
		</div>
	</div>
	<div class="pull-right" id="wrapper">
		<%= render 'list' %>
	</div>
</div>
