

/* universal */
$grayMediumLight: #eaeaea;
$grayLight : #8B8B8B;
$grayDarker: #ccc;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
  background: #F4F4F4;
}

form {
  margin: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.navbar .navbar-inner {
  background-color: rgb(85, 85, 85);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(90deg, #242424, #555);
  background-image: -webkit-linear-gradient(90deg, rgb(36, 36, 36), rgb(85, 85, 85));
  background-image: -o-linear-gradient(90deg, #242424, #555);
  background-image: linear-gradient(90deg, rgb(36, 36, 36), rgb(85, 85, 85));
}

.image-container {
  margin-bottom: 10px;
  // padding: 2px 10px;
  border: 1px solid #D8D9DA;

  .carousel {
    margin-bottom: 0px;   
  }
}
.note_tasks_back_link {
  a {
    color : #699CB6;
  }

  a:hover {
    color: #08C;
  }
  font-size: 18px;
}

.center {
  text-align: center;
	   h1 {
	  margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  // color : #7096AF;
}

.logo_text{
  // color : #CEA62F;
  color: #AC8614;
}

.sign_link {
  color: #CC8B00; 
  margin-left: 20px;
}

.sign_link:hover {
  color: #AC8614;  
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  // float: left;
  // margin-right: 10px;
  // font-size: 1.7em;
  // /*color: #fff;*/
  // text-transform: uppercase;
  // letter-spacing: -1px;
  // padding-top: 9px;
  // font-weight: bold;
  // line-height: 1;

  // &:hover {
  // 	color: black;
  // 	text-decoration: none;
  // }
}

$border : 1px solid #CBCBCB;

.login_form{
  border: $border;
  margin-top: 80px;
  .title {
    background : #555;
    padding: 10px 25px;
    border-bottom: $border;

    .text {
      color: white;
      font-weight: bold;
      font-size: 20px;
    }
  }

  form {
    padding: 20px; 

  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  text-align: center;
  color: $grayLight;
  a {
    color: #555;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    /*float: left; */
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

table {
  td {
    font-size: 13px;
  }
}

/* forms */

input, textarea,  .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#the_project_form{
  width: 360px;
  input[type="text"], select , .project_select {
    width: 350px;
  }

  textarea {
    max-height: 300px;
    width: 350px;
  }
}
#wrapper{
  width: 540px; 
}

#note_form{
  width: 31%;

  textarea {
    height : 150px;
  }
}

#notes_list {
  width: 65%;
}

.task_form {
  form {
    display : inline;
  }
}

.action_column1 {
  width : 16px;
}
.action_column2 {
  width : 32px;
}

.note_actions {
  width : 75px;
  .move_to_task {
    padding: 2px;
    line-height: 10px;
  }
}

.time_col { 
  width: 100px;
}

#projects_container {
  border: 1px solid #bbb;
  border-bottom: 0px;
  .header  {
    font-weight: bold;
    color: #454545;
  }
  .project {
      border-bottom: 1px solid #bbb;
      padding:8px;
      overflow: hidden;
      
      .box {
        float : left;
      }

      .action {
        width : 16px;
      }  

      .notes_count {
        /*width : 80px;
        text-align: center;*/
        float: right;
      }

      .summary_box {
        padding: 2px 4px;
        display: block;
        background: #D1D1D1;
        margin-bottom: 10px;
        border: 1px solid #bbb;
        a {
          color: black;
        }
        a:hover {
          color: #296688;
          // font-weight: bold;
        }
      }


      .content {
        padding-left: 20px;
        width: 400px;
        .inner{
          width: 100%;
        }

        .title {

          a {
            color: #CAA536;
          }

          a:hover {
            color: #967A28;
          }
        }

        .description {
          font-style: italic;
          font-size: 12px;
        }
      }
  }
}

$list_border_radius: 4px;

.tasks-container {
  h2 {
    margin-bottom: 5px;
  }
  .list_container {
    .span4  {
      width: 292px;
    }
  }
  .task_list {
    border: 1px solid #DDD;
    -webkit-border-radius: $list_border_radius;
    -moz-border-radius: $list_border_radius;
    border-radius: $list_border_radius;
    position: relative;
    padding: 8px;
    background : #E3E3E3;
    .list_area {
      overflow-y: auto;
      .task_row {
        
        line-height: 20px;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #DDD;
        background : white;
        margin-bottom: 5px;
        padding: 5px;
        border: 1px solid #CCC;
        border-radius: $list_border_radius - 1;
        
        .times {
          background: #CBD1DF;
          font-size: 10px;
          padding: 0px 5px;
          color: #1A1A1A;
          margin-top: 5px;
          margin-bottom: 5px;
          border: 1px solid #C5C1C1;
        }

        .actions {
          display: none;
          .btn {
            line-height: 17px;
            i {
                margin-top: -1px;
              }
            }

            .btn-mini {
              padding: 1px 3px;
            }
          }  
        }
    }
    
    
    .task_row:first-child {
      // border-top: 0px;
      // border-top-right-radius: $list_border_radius;
      // border-top-left-radius: $list_border_radius;
    }

    .task_row:last-child {
      // border-bottom-right-radius: $list_border_radius;
      // border-bottom-left-radius: $list_border_radius;
    }

    .task_row:nth-child(odd) {
      // background-color: #F9F9F9;
    }
  }
}

.tab-content {
  background: #FFF;
  padding: 10px;
  border: 1px solid #E4E4E4;
}

.ax-loader {
  margin-top: 10px;
  .img {
    width: 24px;
    height: 16px;
    margin-top: 2px;
    background: url('/assets/icons/AjaxLoader-16.gif');
    background-repeat: no-repeat;
  }
}

.ax-dialog.ax-alert{
  $modal-width: 350px;
  .modal {
    width: $modal-width;
    margin-left: -$modal-width/2 ;
    .modal-footer {
      margin-top: 0px;
    }
  }
}